Clinic/Clinic/Clinic/Service References/local/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodConsulta" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Horario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Medico" nillable="true" type="tns:BMedico" />
      <xs:element minOccurs="0" name="Paciente" nillable="true" type="tns:BPaciente" />
      <xs:element minOccurs="0" name="TipoConsulta" nillable="true" type="tns:BTipoConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BConsulta" nillable="true" type="tns:BConsulta" />
  <xs:complexType name="BMedico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clinica" nillable="true" type="tns:BClinica" />
      <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Crm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInscricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenhaUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BMedico" nillable="true" type="tns:BMedico" />
  <xs:complexType name="BClinica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescEspec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BClinica" nillable="true" type="tns:BClinica" />
  <xs:complexType name="BPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Convenio" nillable="true" type="tns:BConvenio" />
      <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BPaciente" nillable="true" type="tns:BPaciente" />
  <xs:complexType name="BConvenio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BConvenio" nillable="true" type="tns:BConvenio" />
  <xs:complexType name="BTipoConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodTipoCons" type="xs:int" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BTipoConsulta" nillable="true" type="tns:BTipoConsulta" />
  <xs:complexType name="BAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BAdministrador" nillable="true" type="tns:BAdministrador" />
  <xs:complexType name="ArrayOfBAdministrador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BAdministrador" nillable="true" type="tns:BAdministrador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBAdministrador" nillable="true" type="tns:ArrayOfBAdministrador" />
  <xs:complexType name="ArrayOfBConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BConsulta" nillable="true" type="tns:BConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBConsulta" nillable="true" type="tns:ArrayOfBConsulta" />
  <xs:complexType name="ArrayOfBPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BPaciente" nillable="true" type="tns:BPaciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBPaciente" nillable="true" type="tns:ArrayOfBPaciente" />
  <xs:complexType name="ArrayOfBMedico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BMedico" nillable="true" type="tns:BMedico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBMedico" nillable="true" type="tns:ArrayOfBMedico" />
  <xs:complexType name="ArrayOfBTipoConsulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BTipoConsulta" nillable="true" type="tns:BTipoConsulta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBTipoConsulta" nillable="true" type="tns:ArrayOfBTipoConsulta" />
</xs:schema>