Clinic/Clinic/Clinic/Service References/local/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56822/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56822/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56822/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_insertConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:insertConsulta" />
  </wsdl:message>
  <wsdl:message name="IService1_insertConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_alterConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:alterConsulta" />
  </wsdl:message>
  <wsdl:message name="IService1_alterConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:alterConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteConsulta" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listAdministrador_InputMessage">
    <wsdl:part name="parameters" element="tns:listAdministrador" />
  </wsdl:message>
  <wsdl:message name="IService1_listAdministrador_OutputMessage">
    <wsdl:part name="parameters" element="tns:listAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:listConsulta" />
  </wsdl:message>
  <wsdl:message name="IService1_listConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:listConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:listPaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_listPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:listPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listMedico_InputMessage">
    <wsdl:part name="parameters" element="tns:listMedico" />
  </wsdl:message>
  <wsdl:message name="IService1_listMedico_OutputMessage">
    <wsdl:part name="parameters" element="tns:listMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listTipoConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:listTipoConsulta" />
  </wsdl:message>
  <wsdl:message name="IService1_listTipoConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:listTipoConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="insertConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertConsulta" message="tns:IService1_insertConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertConsultaResponse" message="tns:IService1_insertConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="alterConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/alterConsulta" message="tns:IService1_alterConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/alterConsultaResponse" message="tns:IService1_alterConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteConsulta" message="tns:IService1_deleteConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteConsultaResponse" message="tns:IService1_deleteConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listAdministrador">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listAdministrador" message="tns:IService1_listAdministrador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listAdministradorResponse" message="tns:IService1_listAdministrador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listConsulta" message="tns:IService1_listConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listConsultaResponse" message="tns:IService1_listConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listPaciente" message="tns:IService1_listPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listPacienteResponse" message="tns:IService1_listPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listMedico">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listMedico" message="tns:IService1_listMedico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listMedicoResponse" message="tns:IService1_listMedico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listTipoConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listTipoConsulta" message="tns:IService1_listTipoConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listTipoConsultaResponse" message="tns:IService1_listTipoConsulta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertConsulta">
      <soap:operation soapAction="http://tempuri.org/IService1/insertConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alterConsulta">
      <soap:operation soapAction="http://tempuri.org/IService1/alterConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteConsulta">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listAdministrador">
      <soap:operation soapAction="http://tempuri.org/IService1/listAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listConsulta">
      <soap:operation soapAction="http://tempuri.org/IService1/listConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listPaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/listPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMedico">
      <soap:operation soapAction="http://tempuri.org/IService1/listMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTipoConsulta">
      <soap:operation soapAction="http://tempuri.org/IService1/listTipoConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56822/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>