Clinic/Clinic/Clinic/Service References/WebService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64542/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" />
  <xs:element name="insertConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" minOccurs="0" name="bCos" nillable="true" type="q1:BConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertConsultaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alterConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" minOccurs="0" name="bCos" nillable="true" type="q2:BConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alterConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alterConsultaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" minOccurs="0" name="bCos" nillable="true" type="q3:BConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteConsultaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" minOccurs="0" name="bCos" nillable="true" type="q4:BConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" minOccurs="0" name="listConsultaResult" nillable="true" type="q5:ArrayOfBConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>