Clinic/Clinic/Clinic/Service References/WebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64542/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64542/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64542/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClasses.model.basic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service_insertConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:insertConsulta" />
  </wsdl:message>
  <wsdl:message name="Service_insertConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="Service_alterConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:alterConsulta" />
  </wsdl:message>
  <wsdl:message name="Service_alterConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:alterConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="Service_deleteConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteConsulta" />
  </wsdl:message>
  <wsdl:message name="Service_deleteConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="Service_listConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:listConsulta" />
  </wsdl:message>
  <wsdl:message name="Service_listConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:listConsultaResponse" />
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="insertConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/Service/insertConsulta" message="tns:Service_insertConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service/insertConsultaResponse" message="tns:Service_insertConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="alterConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/Service/alterConsulta" message="tns:Service_alterConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service/alterConsultaResponse" message="tns:Service_alterConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/Service/deleteConsulta" message="tns:Service_deleteConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service/deleteConsultaResponse" message="tns:Service_deleteConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/Service/listConsulta" message="tns:Service_listConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service/listConsultaResponse" message="tns:Service_listConsulta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Service" type="tns:Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertConsulta">
      <soap:operation soapAction="http://tempuri.org/Service/insertConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="alterConsulta">
      <soap:operation soapAction="http://tempuri.org/Service/alterConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteConsulta">
      <soap:operation soapAction="http://tempuri.org/Service/deleteConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listConsulta">
      <soap:operation soapAction="http://tempuri.org/Service/listConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_Service" binding="tns:BasicHttpBinding_Service">
      <soap:address location="http://localhost:64542/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>